<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Document</title>
</head>

<body>
    <div class="outline">
        <div class="card c1">
            <div class="inner">
                <div class="front">
                    <h1>{{val1}}</h1>
                </div>
                <div class="back">
                    <h1>this is fliped</h1>
                    <p>full-stack developer</p>
                </div>
            </div>
        </div>
        <div class="card c2">
            <div class="inner">
                <div class="front">
                    <h1>{{val2}}</h1>
                </div>
                <div class="back">
                    <h1>this is fliped</h1>
                    <p>full-stack developer</p>
                </div>
            </div>
        </div>
        <div class="card c3">
            <div class="inner">
                <div class="front">
                    <h1>{{val3}}</h1>
                </div>
                <div class="back">
                    <h1>this is fliped</h1>
                    <p>full-stack developer</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>