<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="cardContainer">
            <div class="card">
                <figure class="front">
                    <h2>Titre</h2>
                </figure>

                <figure class="back">
                    <h2>le prix et tt XD</h2>
                </figure>
            </div>

        </div>
    </div>






</body>

</html>