<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyBank</title>
    <link rel="stylesheet" href="../static/css/main.css">




<body>
    <div class="bg">
        <div class="disconnect-b">
            <h3><a href="signin.html">disconnect</a></h3>
        </div>
        <div class="infos">
            <div class="det-infos">
                <div class="front">
                    <h3> Name : </h3>
                    <h3>{{name}}</h3>
                    <hr>
                    <h3> First name : </h3>
                    <h3>{{firstname}}</h3>
                    <br>
                    <div class="hover-to-display">
                    </div>

                </div>
                <div>

                </div>
            </div>
            <div class="det-infos">
                <br><br>
                <h3> Current Balance</h3>
                <h3>{{balance}} $</h3>
            </div>
            <div class="det-infos">
                <h3>Income</h3>
                <h3>{{Incomes}} $</h3>
                <hr>
                <h3>Expenses</h3>
                <h3>{{Expenses}} $</h3>
            </div>

        </div>
    </div>



    <div>


    </div>

</body>

</html>