* {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: row;
    background-color: rgb(46, 46, 97);


}

.cont {
    transform: translate(200%, 100%);
    position: relative;
}


.one {
    position: absolute;
    background-color: transparent;
    border: 5px solid black;
    transform: translateX(-10px) rotateY(25deg) rotateZ(50deg) rotateX(25deg);
    width: 230px;
    height: 130px;
    transition: 1.5s ease-in-out;
}

.two {
    transform: rotateY(25deg) rotateX(10deg) rotateZ(30deg);
    background: rgba(249, 198, 26, 0.88);
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    transition: 1s ease-in-out;
}

/*.one:hover {
    transform: translateX(10px) rotateY(-25deg) rotateZ(-50deg) rotateX(-25deg);
}*/

.cont:hover>.two {
    transform: rotateY(-25deg) rotateX(-10deg) rotateZ(-30deg);
}

.cont:hover>.one {
    transform: translateX(10px) rotateY(-25deg) rotateZ(-150deg) rotateX(-25deg);
}