* {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-weight: bold;
    text-align: center;
}

body,
.inner {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(226, 179, 122);
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.outline {
    position: relative;
    width: 750px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;

}

.card {
    width: 250px;
    height: 200px;
}

.card:hover .inner {
    transform: rotateY(180deg) translateZ(5px);
    backface-visibility: visible;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.75s ease;
    text-align: center;
}

.front,
.back {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    backface-visibility: hidden;
    transform: rotateY(0deg) translateZ(0px);
}

.front {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
}

.front h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.back {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    transform: rotateY(-180deg);
}

.back h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.c1 .inner {
    transform-origin: right;
}

.c2 .inner {
    transform-origin: center;
}

.c3 .inner {
    transform-origin: left;
}

.c1 {
    grid-column: 1;
    grid-row: 1;
}

.c2 {
    grid-column: 2;
    grid-row: 2;
}

.c3 {
    grid-column: 3;
    grid-row: 3;
}